---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

#pyzurich-logo {
  position:absolute;
  margin-top: -5px;
  float:left;
  background-color: #FFF;
  
  img {
    margin: 5px 12px 0 12px;
  }
}

.site-header {
  border-top: 5px solid #FFF;
  background-color: #326496;
}

.site-title {
  color: #FFF;
  margin-left: 80px;

  &:visited {
    color: #FFF;
  }
}

.post-author {
  display: inline-block;
}
.post-meta-list { 
  padding: 0;
  margin: -15px 0 0 0;

  &:empty { 
    margin: 0;
  }

  li {
    font-size: $small-font-size;
    color: $grey-color;
    display: inline-block;
    padding-right: 1em;
    margin: 0;
  }
  
  a {
    color: $grey-color;  
    
    &:visited {
      color: $grey-color-dark;
    }  
    
    &:hover {
      color: $text-color;
      text-decoration: underline;
    }
  }
}
